<!-- Modal responsável pelo formulário de cadastro e alteração -->
<div class="modal fade" id="projetoModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-if="!tempProjeto.id">Novo projeto</h4>
                <h4 class="modal-title" id="myModalLabel" ng-if="tempProjeto.id">Alterar projeto</h4>
            </div>
            <div class="modal-body">
                <form class="form" name="projetoForm">
                    <div class="form-group">
                        <label>Nome do projeto</label>
                        <input type="text" class="form-control" name="nome" ng-model="tempProjeto.nome" required/>
                    </div>
                    <div class="form-group">
                        <label>Nome do cliente</label>
                        <input type="text" class="form-control" name="nome_cliente" ng-model="tempProjeto.cliente.nome" required/>
                    </div>
                    <div class="form-group">
                        <label>Screenshot (URL da imagem)</label>
                        <input type="text" class="col-md-5 form-control " name="screenshot" ng-model="tempProjeto.screenshot" required/>
                    </div>
                    <div class="form-group">
                        <label>Descrição do projeto</label>
                        <textarea class="form-control" name="descricao" ng-model="tempProjeto.descricao" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Status do projeto</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="concluido" value="EM_DESENVOLVIMENTO" ng-model="tempProjeto.status" required>
                                Em desenvolvimento
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="em_desenvolvimento" value="CONCLUIDO" ng-model="tempProjeto.status" required>
                                Concluído
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-left" ng-click="cancelar()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" ng-if="!tempProjeto.id" ng-disabled="projetoForm.$invalid" ng-click="addProjeto()">Novo projeto</button>
                <button type="button" class="btn btn-warning" ng-if="tempProjeto.id" ng-disabled="projetoForm.$invalid" ng-click="alterarProjeto()">Alterar projeto</button>
            </div>
        </div>
    </div>
</div>