<!DOCTYPE html>
<html lang="pt-br" ng-app="crudApp"> 
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Teste técnico - Portifólio</title>
        <link href="lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="lib/css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src = "scripts/main.js"></script>
        <script src = "scripts/diretivas.js"></script>
        <script src = "scripts/directives/modal/projetoModal.js"></script>
        <script src = "scripts/directives/modal/detalhesModal.js"></script>
        <script src = "scripts/directives/projetoItem.js"></script>
        <script src = "scripts/portifolio/controller.js"></script>
        <script src = "scripts/portifolio/service.js"></script>
    </head>
    <body ng-controller="portifolioController" ng-init="getProjetos()">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <h2 class="text-center">Teste técnico - Portifólio <span id="download"></span></h2><br/>
                        <!-- Botão para acionar o modal de cadastro -->
                        <button type="button" class="btn btn-success center-block" data-toggle="modal" data-target="#projetoModel">
                            Novo projeto
                        </button>
                        <br/>
                        <!-- Input pesquisar -->
                        <div class="col-md-4 col-md-offset-4">
                            <input type="text" class="form-control" id="search" ng-model="search" placeholder="Pesquisar...."/>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <!-- Listagem dos projetos cadastrados -->
                <div class="col-sm-6 col-md-4 " ng-repeat="projeto in projetosFiltrado = (projetos| filter : search)">
                    <projeto-item></projeto-item>
                </div>
            </div>

            <!-- Modal como o formulário para adicionar ou alterar projetos -->
            <projeto-modal></projeto-modal>

            <!-- Modal para visualização de detalhes de um projeto -->
            <detalhes-modal></detalhes-modal>

        </div>
    </body>
</html>